<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <%= render 'layouts/error', model: @book %>

      <h2>Editing Book</h2>
      <%= form_with model: @book, local: true do |f| %>
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <%= f.text_field :title, autofocus: true, placeholder: "Title", class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="inputBody">Opinion</label>
        <%= f.text_area :body, autofocus: true, placeholder: "Opinion", class: 'form-control' %>
      </div>
      <div class="forn-group">
        <%= f.submit 'Update Book', class: 'btn btn-success mb-2' %>
      </div>
      <%= link_to "Show", book_path(@book) %> <span class="px-2">|</span> <%= link_to "Back", books_path %>
      <% end %>
    </div>
  </div>
</div>